.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.app-container > * {
  padding: 2px;
}
.app-header-view {
  min-height: 1vh;
}
.app-main-view {
  flex-grow: 1;
}
.leaflet-container {
  width: 100vw;
  height: 100vh;
}